/* Misc
******************************************************************/

.margin90 {
	margin-top: 50px;
}

body {
    overflow-x:hidden;
    overflow-y:scroll;
}

.content {
    background-color:white; 
    padding-top:90px; 
    position:relative; 
    z-index:90
}

.content img {
    margin-bottom:20px;
}
.centered {
    text-align:center;
}
.centered h2 {
    margin-bottom: 80px;
}

.header{
    position:relative;    
}

/* NAV
******************************************************************/

.nav-container {
    background-color:#1b1b1b; 
    height:70px; 
    position: relative; 
    z-index: 200;
}

nav {
	z-index: 200;
	width: 100%;
	background-color:#1b1b1b;
	position: relative;
    float:left;
    height:70px;    	
}

nav ul {
    margin-right:15px;
    float:right
}

#logo_small {
    float:left;
    margin-left:30px;
    margin-top: 18px;
}

nav li {
    text-transform:uppercase;
	display: inline;
	list-style: none;    
}

nav li a {margin-top:20px;
	text-decoration: none;
	font-size: 16px;
	color: #a4a4a4;
	font-weight: 400;
	display: inline-block;
	margin-right:20px;
    text-align: center;	
}

nav li a:hover,
nav li a.selected {
	color: #fff;
	text-decoration: none;
}
.sticky {
	position: fixed;
	top: 0px;
	z-index: 200;
}


/* Home
******************************************************************/


#home {
	background: url(../video/videobg.jpg) no-repeat center center;
	width: 768px;
	height:980px;
	position: relative;
	display: block;
	text-align: center;
	z-index: 20;
}

#home_bg {
	background: url(../video/videobg.jpg) no-repeat center center;
	background-color: #000000;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
}

#home img{
    position:relative;
    z-index:100;
}

#home h1{
	font-size: 45px;
	font-weight: 600;
	letter-spacing: 0px;
	line-height: 45px;
	color: #00aeef;
	text-transform: lowercase;
	z-index: 3;
	position: relative;
	width: auto;
	text-shadow: 3px 3px 7px #000000;
}

#arrow {
    width:79px;
    height:78px;
	background: url(../img/next_arrow.png) no-repeat center -79px;
    position:absolute;
    bottom:10px;
    z-index:200;
}

#arrow a {
    position:absolute;
    left:0px;    
    z-index:200;	
    width:79px;
    height:78px;
    background: url(../img/next_arrow.png) no-repeat center top;
	background: rgba(255,255,255, 0);
    -webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
}

#arrow a:hover {
	background: url(../img/next_arrow.png) no-repeat center -79px;
	background: rgba(255,255,255, 0.8);
}


#head {
   
    height:100%;
    width:768px;
    max-width:768px;
    position:absolute;
    display:block;
    z-index: 100;
    bottom:0px;
    -moz-background-size:contain; 
    -webkit-background-size:contain; 
    background-size:contain;
    margin-left:25px;}
    
}      

img#logo {
    position:absolute;
    z-index:200
}


/* Paralaxed elements
******************************************************************/


#parallax {
    background: url(../img/about_bg2.png) no-repeat center top  ;
    
    width:100%;
    height:600px;
    position:absolute;
    display:block;
    z-index: 10;
}

#parallax_2 {
    background: url(../img/about_bg3.png) no-repeat center top  ;
    
    width:100%;
    height:600px;
    position:absolute;
    display:block;
    z-index: 1;
}

#parallax_3 {
    background: url(../img/services_bg2.png) no-repeat center  top;
    display:block;
    width:100%;
    height:600px;
    position:absolute;
    z-index: 2;
}

#parallax_4 {
    background: url(../img/services_bg3.png) no-repeat center top;      
    display:block;
    width:100%;
    height:600px;
    position:absolute;
    z-index: 10; 
}

#parallax_5 {
    background: url(../img/works_bg2.png) no-repeat center top  ;    
    width:100%;
    height:600px;
    position:absolute;
    display:block;
    z-index: 1;
}

#parallax_6 {
    background: url(../img/works_bg3.png) no-repeat center top  ;    
    width:100%;
    height:600px;
    position:absolute;
    display:block;
    z-index: 10;
}




/* Parallax mobile 
******************************************************************/


#parallax_mobile {
    background: url(../img/about_bg2.png) no-repeat center top  ;    
    width:100%;
    height:450px;
    position:absolute;
    display:block;
    z-index: 10;
}

#parallax_2_mobile {
    background: url(../img/about_bg3.png) no-repeat center top  ;    
    width:100%;
    height:450px;
    position:absolute;
    display:block;
    z-index: 1;
}

#parallax_3_mobile {
    background: url(../img/services_bg2.png) no-repeat center bottom  ;    
    width:100%;
    height:450px;
    position:absolute;
    display:block;
    z-index: 1;
}

#parallax_4_mobile {
    background: url(../img/services_bg3.png) no-repeat center bottom  ;
    
    width:100%;
    height:450px;
    position:absolute;
    display:block;
    z-index: 10;
}

#parallax_5_mobile {
    background: url(../img/works_bg2.png) no-repeat center bottom  ;
    
    width:100%;
    height:450px;
    position:absolute;
    display:block;
    z-index: 1;
}

#parallax_6_mobile {
    background: url(../img/works_bg3.png) no-repeat center bottom  ;
    margin-top:100px;
    width:100%;
    height:450px;
    position:absolute;
    display:block;
    z-index: 10;
}



/* About
******************************************************************/

#about_header {
    background: url(../img/about_bg.jpg) no-repeat center center  ;
    background-color:#075977; 
    width:100%;
    height:450px;
    position:relative;
    display:block;
    text-align: center;  
}

#about_header_mobile {
	background: url(../img/about_bg.jpg) no-repeat center center;
	background-color: #e24e4e;
	width: 100%;
	height: 450px;
	position: relative;
	display: block;
	text-align: center;
	color: #FFFFFF;
}


#about_header h1 {
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -5px;
	line-height: 115px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 150px;
	z-index: 3;
	position: relative;
}


/* Services
******************************************************************/

#services_header {
    background: url(../img/services_bg.jpg) no-repeat center center  ;
    background-color:#D9CEAD; 
    width:100%;
    height:450px;
    position:relative;
    display:block;
    text-align: center;  
     
}
#services_header_mobile {
    background: url(../img/services_bg.jpg) no-repeat center center  ;
    background-color:#e24e4e; 
    width:100%;
    height:450px;
    position:relative;
    display:block;
    text-align: center;    
}


#services_header h1 {
    font-size: 180px;
    font-weight: 900;
    letter-spacing: -5px;
    line-height: 115px;
    color:black;
    text-transform:uppercase;
    margin-top:200px;
    z-index: 3;
    position:relative;
}

.services_item {margin-bottom:40px;}


#process h3 {
    text-transform:uppercase;
    margin-bottom:20px;
}



/* Works
******************************************************************/

#works_header {
	background: url(../img/works_bg.jpg) no-repeat center center;
	background-color: #075977;
	width: 100%;
	height: 450px;
	position: relative;
	display: block;
	text-align: center;
}
#works_header_mobile {
    background: url(../img/works_bg.jpg) no-repeat center center  ;
    background-color:#e24e4e; 
    width:100%;
    height:450px;
    position:relative;
    display:block;
    text-align: center;
}

#works_header h1 {
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -5px;
	line-height: 115px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 200px;
	z-index: 3;
	position: relative;
}
.client h5 {
    text-transform:uppercase; 
    margin-top:2px; 
    margin-bottom:20px;
}

/* Gallery
******************************************************************/


#gallery {
	background: url(../img/gallery_bg.jpg) repeat-y center center;
	background-color: #f6f5f8;
	width: 768px;
	position: relative;
	display: block;
	text-align: center;
}

#gallery_bg {
    background: url(../img/gallery_bg.jpg) repeat-y center center;
    background-color:#f6f5f8;
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;    
}

#gallery h1 {
	font-size: 120px;
	font-weight: 900;
	letter-spacing: -8px;
	line-height: 115px;
	color: #000000;
	text-transform: uppercase;
	margin-top: 140px;
	margin-bottom: 70px;
	z-index: 3;
	position: relative;
}

#gallery h2 {
    margin-top:100px;
}

#gallery h3 {
    font-size:20px;
    margin-top:20px;
    margin-bottom:40px;
}

#gallery_items {
    position:relative;
    z-index:10
}

#gallery img {
    border-width: 28px;

    border-image:url("../img/frame.png") 28 repeat;
    -o-border-image:url("../img/frame.png") 28 repeat;
    -moz-border-image:url("../img/frame.png") 28 repeat;
    -webkit-border-image:url("../img/frame.png") 28 repeat;

    box-shadow:  0px 15px 7px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow:  0px 15px 7px 0px rgba(0, 0, 0, .3);
}


/* IMG hover effect
******************************************************************/


figure {max-width:360px; margin:0px auto ;padding:0px; text-align:center;}

figure img {
	max-width: 100%;
	position: relative;
	z-index: 900;
}

figure a {

	position: relative;
	display: block;
	line-height: 0px;
	text-decoration: none;
}


figure a:hover {
	text-decoration: none;
    
}

figure a:hover img {
	opacity: 0.4; 
	filter: alpha(opacity=40); /* IE6-IE8 */
        -webkit-transition: opacity .3s ease-in-out;
		-moz-transition: opacity .3s ease-in-out;
		-o-transition: opacity .3s ease-in-out;
		-ms-transition: opacity .3s ease-in-out;	
		transition: opacity .3s ease-in-out;
    
}

figure a:before {
	content: "+";
	display: block;
	font-size: 40px;
	line-height: 1em;
	height: 1em;
	width: 1em;
	text-align: center;
	
	color: red;
	font-weight: bold;
	
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	
	margin: -0.5em 0 0 -0.5em;
}

a.enlarge:before {
	content: "+";
}



/* Buttons
******************************************************************/


button.cta {
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
    font-style: italic;
    font-weight: 300;
	color: #ffffff;
	padding: 10px 20px;
	background:#e24e4e;
    text-shadow:
    0px 1px 0px rgba(120,36,50,1),
    0px 1px 0px rgba(255,255,255,0); 
    border: 0px;
}

button.cta:hover {
	background:#ff5555;	
}

button.cta:active {
	margin-top:1px;
}





/* Map and contact
******************************************************************/

#give {
    background-color:#677982;
    display:block;
    position:relative
}

#give h2 {    
    color:white;
    margin-top:100px;
    margin-bottom:20px;
}

#give h1 {
    font-size: 100px;
    color:black;
    margin-top:20px;
    margin-bottom:50px;
}

#give a {
    color:#e4f1f7;
}

#give p { 
    color:white;
}

#contact {
    background-color:#677982;
    display:block;
    position:relative
}

#contact h2 {    
    color:white;
    margin-top:100px;
    margin-bottom:20px;
}

#contact h1 {
    font-size: 100px;
    color:black;
    margin-top:20px;
    margin-bottom:50px;
}

#contact a {
    color:#e4f1f7;
}

#contact p { 
    color:white;
}

#map {
	height: 400px;
	width: 768px;
	position: relative;
}


/* Social icons
******************************************************************/
 
.list-social li {
    padding:0 10px 10px 0; 
    list-style: none; 
    margin:0px; 
    text-align: center; 
    display: inline-block; 
    margin-top:50px; 
    margin-bottom:50px;
}

.list-social li.tumblr a {
    background:url(../img/social_tumblr.png) no-repeat 0 0;
    height:56px;
    width:56px;
    display:block;
    float:left; 
    background-position:0 0;    
}

.list-social li.instagram a {
    background:url(../img/social_instagram.png) no-repeat 0 0;
    height:56px;
    width:56px;
    display:block;
    float:left; 
    background-position:0 0;    
}

.list-social li.facebook a {
    background:url(../img/social_facebook.png) no-repeat 0 0;
    height:56px;
    width:56px;
    display:block;
    float:left; 
    background-position:0 0;    
}

.list-social li.twitter a {
    background:url(../img/social_twitter.png) no-repeat 0 0;
    height:56px;
    width:56px;
    display:block;
    float:left; 
    background-position:0 0;
}

.list-social li.youtube a {
    background:url(../img/social_forrst.png) no-repeat 0 0;
    height:56px;
    width:56px;
    display:block;
    float:left; 
    background-position:0 0;
}


.list-social li.facebook a:hover,
.list-social li.twitter a:hover,
.list-social li.youtube a:hover,
background-position:0 -56px;
}


/* Footer
******************************************************************/


#footer {
    background-color:black;
    display:block;
    position:relative
}

#footer p {
    margin: 60px 0px;
}

.clearfix {
 *zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1;
}
audio:not([controls]) {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover, a:active {
	outline: 0;
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	/* Responsive images (ensure images don't scale beyond their parents) */

	max-width: 100%;
	/* Part 1: Set a maxium relative to the parent */

	width: auto;
	/* IE7-8 need help adjusting responsive images */

	height: auto;
	/* Part 2: Scale the height according to the width, otherwise you get stretching */

	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
#map_canvas img {
	max-width: none;
}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button, input {
 *overflow: visible;
	line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 22px;
	color: #555555;
	background-color: #ffffff;
	font-weight: 200;
}
a {
	color: #2f84cc;
	text-decoration: none;
}
a:hover {
	color: #215c8e;
	text-decoration: underline;
}
.img-rounded {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.img-polaroid {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}
.row {
	margin-left: -50px;
 *zoom: 1;
}
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0;
}
.row:after {
	clear: both;
}
[class*="span"] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 768px;
}
.span13 {
	width: 600px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 100px;
	margin-bottom: 0;
	padding: 0 0 0 0;
	font-weight: 500;
	font-size: 25px;
	line-height: 25px;
}
.span12 {
	width: 768px;
	margin-left: 50px;
}
.span11 {
	width: 768px;
}
.span10 {
	width: 768px;
}
.span9 {
	width: 700px;
}
.span8 {
	width: 750px;
	margin-left: 50px;
}
.span7 {
	width: 375px;
	margin-left: 75px;
}
.span6 {
	width: 460px;
}
.span5 {
	width: 380px;
}
.span4 {
	width: 150px;
	margin-left: 50px;
}
.span3 {
	width: 220px;
}
.span2 {
	width: 140px;
}
.span1 {
	width: 60px;
}
.offset15 {
	margin-left: 150px;
}
.offset14 {
	margin-left: 130px;
}
.offset12 {
	margin-left: 980px;
}
.offset11 {
	margin-left: 900px;
}
.offset10 {
	margin-left: 820px;
}
.offset9 {
	margin-left: 740px;
}
.offset8 {
	margin-left: 660px;
}
.offset7 {
	margin-left: 580px;
}
.offset6 {
	margin-left: 500px;
}
.offset5 {
	margin-left: 420px;
}
.offset4 {
	margin-left: 340px;
}
.offset3 {
	margin-left: 260px;
}
.offset2 {
	margin-left: 180px;
}
.offset1 {
	margin-left: 100px;
}
.offset13 {
	margin-left: 260px;
	height: 300px;
}
.row-fluid {
	width: 100%;
 *zoom: 1;
}
.row-fluid:before, .row-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
.row-fluid:after {
	clear: both;
}
.row-fluid [class*="span"] {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.127659574468085%;
 *margin-left: 2.074468085106383%;
}
.row-fluid [class*="span"]:first-child {
	margin-left: 0;
}
.row-fluid .span12 {
	width: 100%;
 *width: 99.94680851063829%;
}
.row-fluid .span11 {
	width: 91.48936170212765%;
 *width: 91.43617021276594%;
}
.row-fluid .span10 {
	width: 82.97872340425532%;
 *width: 82.92553191489361%;
}
.row-fluid .span9 {
	width: 74.46808510638297%;
 *width: 74.41489361702126%;
}
.row-fluid .span8 {
	width: 65.95744680851064%;
 *width: 65.90425531914893%;
}
.row-fluid .span7 {
	width: 57.44680851063829%;
 *width: 57.39361702127659%;
}
.row-fluid .span6 {
	width: 48.93617021276595%;
 *width: 48.88297872340425%;
}
.row-fluid .span5 {
	width: 40.42553191489362%;
 *width: 40.37234042553192%;
}
.row-fluid .span4 {
	width: 31.914893617021278%;
 *width: 31.861702127659576%;
}
.row-fluid .span3 {
	width: 23.404255319148934%;
 *width: 23.351063829787233%;
}
.row-fluid .span2 {
	width: 14.893617021276595%;
 *width: 14.840425531914894%;
}
.row-fluid .span1 {
	width: 6.382978723404255%;
 *width: 6.329787234042553%;
}
.row-fluid .offset12 {
	margin-left: 104.25531914893617%;
 *margin-left: 104.14893617021275%;
}
.row-fluid .offset12:first-child {
	margin-left: 102.12765957446808%;
 *margin-left: 102.02127659574467%;
}
.row-fluid .offset11 {
	margin-left: 95.74468085106382%;
 *margin-left: 95.6382978723404%;
}
.row-fluid .offset11:first-child {
	margin-left: 93.61702127659574%;
 *margin-left: 93.51063829787232%;
}
.row-fluid .offset10 {
	margin-left: 87.23404255319149%;
 *margin-left: 87.12765957446807%;
}
.row-fluid .offset10:first-child {
	margin-left: 85.1063829787234%;
 *margin-left: 84.99999999999999%;
}
.row-fluid .offset9 {
	margin-left: 78.72340425531914%;
 *margin-left: 78.61702127659572%;
}
.row-fluid .offset9:first-child {
	margin-left: 76.59574468085106%;
 *margin-left: 76.48936170212764%;
}
.row-fluid .offset8 {
	margin-left: 70.2127659574468%;
 *margin-left: 70.10638297872339%;
}
.row-fluid .offset8:first-child {
	margin-left: 68.08510638297872%;
 *margin-left: 67.9787234042553%;
}
.row-fluid .offset7 {
	margin-left: 61.70212765957446%;
 *margin-left: 61.59574468085106%;
}
.row-fluid .offset7:first-child {
	margin-left: 59.574468085106375%;
 *margin-left: 59.46808510638297%;
}
.row-fluid .offset6 {
	margin-left: 53.191489361702125%;
 *margin-left: 53.085106382978715%;
}
.row-fluid .offset6:first-child {
	margin-left: 51.063829787234035%;
 *margin-left: 50.95744680851063%;
}
.row-fluid .offset5 {
	margin-left: 44.68085106382979%;
 *margin-left: 44.57446808510638%;
}
.row-fluid .offset5:first-child {
	margin-left: 42.5531914893617%;
 *margin-left: 42.4468085106383%;
}
.row-fluid .offset4 {
	margin-left: 36.170212765957444%;
 *margin-left: 36.06382978723405%;
}
.row-fluid .offset4:first-child {
	margin-left: 34.04255319148936%;
 *margin-left: 33.93617021276596%;
}
.row-fluid .offset3 {
	margin-left: 27.659574468085104%;
 *margin-left: 27.5531914893617%;
}
.row-fluid .offset3:first-child {
	margin-left: 25.53191489361702%;
 *margin-left: 25.425531914893618%;
}
.row-fluid .offset2 {
	margin-left: 19.148936170212764%;
 *margin-left: 19.04255319148936%;
}
.row-fluid .offset2:first-child {
	margin-left: 17.02127659574468%;
 *margin-left: 16.914893617021278%;
}
.row-fluid .offset1 {
	margin-left: 10.638297872340425%;
 *margin-left: 10.53191489361702%;
}
.row-fluid .offset1:first-child {
	margin-left: 8.51063829787234%;
 *margin-left: 8.404255319148938%;
}
[class*="span"].hide, .row-fluid [class*="span"].hide {
	display: none;
}
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
	float: right;
}
.container {
	margin-right: auto;
	margin-left: auto;
 *zoom: 1;
}
.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0;
}
.container:after {
	clear: both;
}
.container-fluid {
	padding-right: 20px;
	padding-left: 20px;
 *zoom: 1;
}
.container-fluid:before, .container-fluid:after {
	display: table;
	content: "";
	line-height: 0;
}
.container-fluid:after {
	clear: both;
}
p {
	margin: 0 0 13.5px;
}
.lead {
	margin-bottom: 27px;
	font-size: 27px;
	font-weight: 200;
	line-height: 40.5px;
}
small {
	font-size: 85%;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
cite {
	font-style: normal;
}
.muted {
	color: #999999;
}
.text-warning {
	color: #c09853;
}
.text-error {
	color: #b94a48;
}
.text-info {
	color: #3a87ad;
}
.text-success {
	color: #468847;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: inherit;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999999;
}
h1 {
	font-size: 220px;
	line-height: 115px;
	font-weight: 900;
 letter-spacing:-2px:;
	text-transform: uppercase;
}
h2 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
	color: black;
	margin-bottom: 50px;
	letter-spacing: 1px;
}
h3 {
	font-size: 25px;
	line-height: 40px;
	font-weight: 600;
	color: black;
}
h4 {
	font-weight: 500;
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 20px;
}
h5 {
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
}
h6 {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
h1 small {
	font-size: 24px;
}
h2 small {
	font-size: 18px;
}
h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 14px;
}
.page-header {
	padding-bottom: 12.5px;
	margin: 27px 0 40.5px;
	border-bottom: 1px solid #eeeeee;
}
ul, ol {
	padding: 0;
	margin: 0 0 13.5px 25px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 0;
}
li {
	line-height: 27px;
}
ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none;
}
dl {
	margin-bottom: 27px;
}
dt, dd {
	line-height: 27px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 13.5px;
}
.dl-horizontal {
 *zoom: 1;
}
.dl-horizontal:before, .dl-horizontal:after {
	display: table;
	content: "";
	line-height: 0;
}
.dl-horizontal:after {
	clear: both;
}
.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 180px;
}
hr {
	margin-top: 25px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 25px;
	border: 0;
	border-top: 1px solid #dcdcdc;
}
abbr[title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}
abbr.initialism {
	font-size: 90%;
	text-transform: uppercase;
}
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 27px;
	border-left: 5px solid #eeeeee;
}
blockquote p {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
	line-height: 33.75px;
}
blockquote small {
	display: block;
	line-height: 27px;
	color: #999999;
}
blockquote small:before {
	content: '\2014 \00A0';
}
blockquote.pull-right {
	float: right;
	padding-right: 15px;
	padding-left: 0;
	border-right: 5px solid #eeeeee;
	border-left: 0;
}
blockquote.pull-right p, blockquote.pull-right small {
	text-align: right;
}
blockquote.pull-right small:before {
	content: '';
}
blockquote.pull-right small:after {
	content: '\00A0 \2014';
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
}
address {
	display: block;
	margin-bottom: 27px;
	font-style: normal;
	line-height: 27px;
}
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 28px;
	color: #333333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
}
pre {
	display: block;
	padding: 13px;
	margin: 0 0 13.5px;
	font-size: 17px;
	line-height: 27px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
pre.prettyprint {
	margin-bottom: 27px;
}
pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}
.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.invisible {
	visibility: hidden;
}
.affix {
	position: fixed;
}
.hidden {
	display: none;
	visibility: hidden;
}
#team_info {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 50px;
	font-weight: 500;
}
#footer_buttons {
	margin: 0 0 0 125px;
}
#footer_buttons ul li {
	list-style-image: none;
	list-style-type: none;
	display: inline;
	margin-right: 75px;
	width: auto;
}
#footer_buttons a:hover {
	text-decoration: none;
}
#footer_buttons a:hover img {
	opacity: 0.4;
	filter: alpha(opacity=40); /* IE6-IE8 */
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}
#team a:hover img {
	opacity: 0.75;
	filter: alpha(opacity=80); /* IE6-IE8 */
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
